---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.center_gif {
  padding: inherit;
  margin:auto;
  display: block;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.image_center 
{
  float: center;
  padding: 45px;
}

.about_table 
{
    border-collapse: collapse;
    width: 40%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}

.about_table2
{
    border-collapse: collapse;
    width: 75%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}

.about_table3
{
    border-collapse: collapse;
    width: 88%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}

.about_table4
{
    border-collapse: collapse;
    width: 100%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}

.about_table5
{
    border-collapse: collapse;
    width: 66%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table6
{
    border-collapse: collapse;
    width: 52%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}

.about_table7
{
    border-collapse: collapse;
    width: 56%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table8 
{
    border-collapse: collapse;
    width: 40%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table9
{
    border-collapse: collapse;
    width: 48%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table30
{
    border-collapse: collapse;
    width: 30%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table72
{
    border-collapse: collapse;
    width: 72%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table58
{
    border-collapse: collapse;
    width: 58%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}

.about_table51
{
    border-collapse: collapse;
    width: 51%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table55
{
    border-collapse: collapse;
    width: 55%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table55r
{
    border-collapse: collapse;
    width: 55%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: right;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}


.about_table28
{
    border-collapse: collapse;
    width: 28%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 4px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}




.about_table65
{
    border-collapse: collapse;
    width: 65%;

    > table, td, th 
    {
        border-color: transparent;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) 
    {
        background: #fcfefb;
    }

    tr:nth-child(even) 
    {
        background: #fcfefb;
    }
}

.image_left 
{
  float: left;
  padding: 18px;
}

.image_left2 
{
  float: left;
  padding: 8px;
}

.image_right 
{
  float: right;
  padding: 3px;
}

.image_right2
{
  float: right;
  padding: 8px;
}

.image_right3
{
  float: right;
  padding: 14px;
}

tr:hover:nth-child(odd) 
{
    background-color: #f5f5f5;
}

tr:hover:nth-child(even) 
{
    background-color: #f5f5f5;
}

body, html, .body {
  background: #fcfefb !important;

}


#canvas-container {
   width: 100%;
   text-align:center;
}

canvas {
   display: inline;
}


